<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="../../h-ui/lib/html5shiv.js"></script>
    <script type="text/javascript" src="../../h-ui/lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="../../h-ui/static/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../h-ui/static/h-ui.admin/css/H-ui.admin.css"/>
    <link rel="stylesheet" type="text/css" href="../../h-ui/lib/Hui-iconfont/1.0.8/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="../../h-ui/static/h-ui.admin/skin/red/skin.css" id="skin"/>
    <link rel="stylesheet" type="text/css" href="../../h-ui/static/h-ui.admin/css/style.css"/>

    <style type="text/css">
        .time-table {
            table-layout: fixed;
        }

        .time-table th {
            text-align: center;
            font-weight: bold;
        }

        .time-table caption {
            text-align: center;
            font-size: large;
        }

        .time-table td {
            text-align: center;
            cursor: pointer;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .time-table td.oneline {
            height: 40px;
            line-height: 40px;
        }

        .time-table td.twoline {
            height: 40px;
            line-height: 20px;
        }
    </style>
</head>
<body>
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 首页
    <span class="c-gray en">&gt;</span>
    课程表管理
    <span class="c-gray en">&gt;</span>
    课程表
    <a class="btn btn-success radius r radius" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新">
        <i class="Hui-iconfont">&#xe68f;</i>
    </a>
</nav>
<table>
    <tr>
        <td colspan="1"></td>
    </tr>
</table>
<div class="page-container">
    <div class="text-c">
        <span class="select-box inline radius">
                <select class="select" id="class" disabled="disabled">
                    <option value="">班级</option>
                </select>
            </span>
        <button class="btn btn-success radius" onclick="loadTimetables()">
            <i class="Hui-iconfont">&#xe665;</i> 查询
        </button>
    </div>
    <div class="row cl mt-10" >
        <table id="timetables" class="table table-border table-bordered radius table-striped" style="table-layout: fixed;">
        </table>
    </div>
</div>
<script type="text/javascript" src="../../h-ui/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="../../h-ui/lib/jquery.contextmenu/jquery.contextmenu.r2.js"></script>
<script type="text/javascript" src="../../h-ui/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="../../h-ui/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="../../h-ui/static/h-ui.admin/js/H-ui.admin.js"></script>
<script type="text/javascript">
    // 初始化
    $(function () {
        loadTimetables();
    });

    function loadClass() {
        $("#class").empty();
        $("#class").append("<option value=''>班级</option>");
        if ($('#grade').val()) {
            $.ajax({
                url: "manager/student/getClass",
                type: "post",
                data: {
                    "gradeId": $('#grade').val()
                },
                dataType: "json",
                async: false,
                success: function (data) {
                    $.each(data, function (i, item) {
                        $("#class").append("<option value='" + item.classId + "'>" + item.className + "</option>");
                    });
                    $('#class').removeAttr("disabled");
                }
            });
        } else {
            $('#class').attr("disabled", "disabled");
        }
    }

    function toDownload() {
        self.location.href = "manager/timetableDetail/downloadTemplate?id=${timetableId}";
    }
    var weekdays = [ '星期一', '星期二', '星期三', '星期四', '星期五', '星期六', '星期日' ];
    function loadTimetables() {
        $.ajax({
            type: "post",
            url: "getScheduleList",
            // data : {
            //     timetableId : '${timetableId}',
            //     gradeId : $('#grade').val(),
            //     classId : $('#class').val()
            // },
            dataType: "json",
            async: false,
            success: function (result) {
                $('#timetables').empty();
                var maxday = 7;
                var maxpart = 8;
                var timetable = result;

                var str = '';
                str += '<tr class="text-c"><th colspan="8" >' + result[0].class_name + '</th></tr>';
                str += '<tr class="text-c">';
                str += '  <th>节\\星期</th>';
                var weekDay = [];
                for (var day = 0; day < maxday; day++) {
                    var d = day + 1;
                    str += '<th id=day'+d+'>' + weekdays[day] + '</th>';
                }
                str += '</tr>';

                for (var part = 0; part < maxpart; part++) {
                    str += '<tr class="text-c">';
                    str += '  <th>' + (part + 1) + '</th>';
                    for (var day = 0; day < maxday; day++) {
                        str += '<td id="t_' + (day + 1) + '_' + (part + 1) + '" nowrap="nowrap" height="25" style="cursor: pointer" onclick="showEdit(' + (day + 1) + ',' + (part + 1) + ')">-</td>';
                    }
                    str += '</tr>';
                }

                $("#timetables").html(str);

                for (var i = 0; i < timetable.length; i++) {
                    var html = timetable[i].course_name + '<br />' + timetable[i].person_name + '#教室:' + timetable[i].class_room_name;
                    $('#t_' + timetable[i].day + '_' + timetable[i].part).html(html);
                }

            }
        });
    }

    function showEdit(day, part) {
        alert(day+"-"+part)
        //layer_show('修改课表详细', 'manager/timetableDetail/toDetailEdit?classId=' + classId + '&day=' + day + '&part=' + part + '&timetableId=${timetableId}', '400', '320');
    }

    // 打印
    function preview(oper) {
        if (oper < 10) {
            // 打印前画面的状态
            var bdgradeId = $('#grade').val();
            var bdclassId = $('#class').val();
            var bdtitle = window.document.title;

            var bdhtml = window.document.body.innerHTML;//获取当前页的html代码
            var sprnstr = "<!--startprint" + oper + "-->";//设置打印开始区域
            var eprnstr = "<!--endprint" + oper + "-->";//设置打印结束区域
            var prnhtml = bdhtml.substring(bdhtml.indexOf(sprnstr) + 18); //从开始代码向后取html
            prnhtml = prnhtml.substring(0, prnhtml.indexOf(eprnstr));//从结束代码向前取html
            window.document.body.innerHTML = prnhtml;

            // 设置打印网页的标题
            window.document.title = '课程表';

            // 每行显示一个课表，去掉col-*及自带的float样式，宽90%防止左右边框消失，水平居中  style="page-break-after: always;"
            var c = 0;
            $('.timetable-container').each(function (index, element) {
                $(element).removeClass('col-sm-6').removeClass('col-md-6').css('width', '90%').css('margin', 'auto');
                if ($(element).height() > 522) { // 为了一个课表不会被打印在两页上，高度大于522的占一页纸，（高度522正好是8节课，每页能打2个课表）
                    $(element).css('page-break-after', 'always');
                    c = 0;
                } else {// 为了一个课表不会被打印在两页上，高度小等于522的每页打2个课表
                    if (c % 2 == 1) {
                        $(element).css('page-break-after', 'always');
                        c = 0;
                    } else {
                        c++;
                    }
                }
            });

            window.print();

            // 还原页面
            window.document.title = bdtitle;
            window.document.body.innerHTML = bdhtml;
            $('#grade').val(bdgradeId);
            $('#class').val(bdclassId)
        } else {
            window.print();
        }
    }
</script>
</body>
</html>